p{
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.car-model{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
}
.delivery-text{
  text-decoration: underline;
}